:root {
  --general-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --white-color: #fff;
  --accent-color: #ff4e50;
  --decription-color: #666666;
  --partner-color: #333333;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* MOBILE */

/* BANNER */

.header {
  background-color: #000;
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--general-font);
  font-size: 20px;
  line-height: 1.2;
  color: var(--white-color);
  font-weight: 700;
  margin-top: 176px;
  margin-bottom: 40px;
  cursor: pointer;
}

.user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-enter {
  all: unset;
  display: block;
  font-family: var(--general-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
  font-weight: 700;
  cursor: pointer;
  padding: 10px 18px;
}

.user-enter:hover,
.user-enter:focus {
  color: var(--accent-color);
}

.user-register {
  all: unset;
  display: block;
  font-family: var(--general-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
  font-weight: 700;
  padding: 10px 18px;
  border: 2px solid var(--white-color);
  border-radius: 20px;
  cursor: pointer;
}

.user-register:hover,
.user-register:focus {
  background-color: var(--accent-color);
  border: 2px solid transparent;
}

.hero {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  all: unset;
  text-transform: uppercase;
  font-family: var(--general-font);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
}

.hero-description {
  all: unset;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: var(--white-color);
  margin-bottom: 20px;
}

.hero-link {
  all: unset;
  padding: 12px 46px;
  background-color: var(--accent-color);
  border-radius: 20px;
  font-family: var(--general-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
  font-weight: 700;
  transform: scale(1);
  transition: transform 250ms linear;
  cursor: pointer;
}

.hero-link:hover,
.hero-link:focus {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }

  .user-nav {
    position: absolute;
    top: 20px;
    left: 50%;
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .user-nav {
    transform: translateX(-50%);
  }
}

/* MAIN */

.partner-section {
  margin-bottom: 50px;
}

.partner-title {
  all: unset;
  display: block;
  font-family: var(--general-font);
  font-size: 22px;
  line-height: 1.2;
  color: var(--partner-color);
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

.list {
  all: unset;
  list-style: none;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .list-item:last-child {
    margin-bottom: 0;
  }
}

/* НАЧАЛО ИКОНОК */

.overlay {
  position: relative;
}

.overlay::before {
  display: inline-block;
  content: '';
  height: 30px;
  width: 30px;
  border: 4px solid var(--white-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 10%;
  transform: scale(1);
  transition: transform 250ms linear;
}

.overlay:hover::before,
.overlay:focus::before {
  transform: scale(1.05);
}

.overlay.icon-tv::before {
  background-color: var(--accent-color);
  background-image: url(../images/icons/tv-icon.svg);
}

.overlay.icon-flask::before {
  background-image: url(../images/icons/flask-icon.svg);
  background-color: #ffa507;
}

.overlay.icon-cup::before {
  background-image: url(../images/icons/cup-icon.svg);
  background-color: #1cd7ad;
}

.overlay.icon-telegram::before {
  background-image: url(../images/icons/telegram-icon.svg);
  background-color: #4e73db;
}

/* КОНЕЦ ИКОНОК */

.partner-photo {
  margin-bottom: 20px;
}

.partner-name {
  all: unset;
  font-family: var(--general-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--partner-color);
  font-weight: 700;
  margin-bottom: 20px;
}

.partner-description {
  all: unset;
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--partner-color);
  font-weight: 300;
  text-align: center;
}

.partner-link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 12px 46px;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  font-family: var(--general-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--accent-color);
  font-weight: 700;
  transform: scale(1);
  transition: transform 250ms linear;
  cursor: pointer;
  text-align: center;
  width: 280px;
}

.partner-link:hover,
.partner-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 2px solid transparent;
  transform: scale(1.1);
}

/* TABLET */
/* BANNER */

@media screen and (min-width: 768px) {
  .container {
    width: 530px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-container {
    width: 760px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/background-tablet.jpg);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-header {
    margin-bottom: 160px;
    padding-top: 48px;
  }

  .logo {
    margin: 0;
  }

  .user-nav {
    margin-left: auto;
  }

  .hero-title {
    font-size: 52px;
    margin-bottom: 40px;
  }

  .hero-description {
    font-size: 24px;
    margin-bottom: 40px;
  }

  /* MAIN  */

  .partner-title {
    margin-bottom: 32px;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .list-item {
    margin-right: 20px;
    flex-basis: calc(50% - 10px);
  }

  @media screen and (min-width: 768px) and (max-width: 1169px) {
    .list-item:nth-child(2n) {
      margin-right: 0;
    }

    .list-item:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

/* DESCKTOP */
/* BANNER */

@media screen and (min-width: 1170px) {
  .container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/background-desktop.jpg);
  }

  /* MAIN */

  .list {
    display: flex;
    justify-content: center;
  }

  .list-item {
    flex-basis: calc(25% - 15px);
  }

  .list-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }

  .list-item:nth-child(4n) {
    margin-right: 0;
  }
}
